
<h2>Welcome <%= current_user.first_name%>
<hr/>

  <h3>  Your Account </h3>
  <ul>
    <%@accounts.each do |account|%>
    <li>
      <%=account.name%> - <%= account.balance%>
    </li>
<%end%>
</ul>
